<ion-view view-title="Notifications - Abhivyakti 2k17" style="font-family: 'ComicSansMS',cursive;">
  <ion-content>

    <div class="bar-header">Internet Connection Required. If Internet Available wait for sometime to load. </div>
    <iframe class="webPage" src="https://docs.google.com/document/d/1kjSvRqTpMAn-DuNU5aW51Q7jebFem9LHPb5jIxAuDyk/pub">

    </iframe>
    <!--<div class="card" ng-include="'https://docs.google.com/document/d/1kjSvRqTpMAn-DuNU5aW51Q7jebFem9LHPb5jIxAuDyk/pub'"></div>-->
  </ion-content>
</ion-view>
