<ion-view view-title="Schedule-Day 2 - Abhivyakti 2k17" style="font-family: 'ComicSansMS',cursive;" >
  <ion-content>

    <div class="bar-header">Internet Connection Required. If Internet Available wait for sometime to load. </div>
    <!--
    <div class="card" ng-include="'https://docs.google.com/document/d/1Esy5__QWI6ZxM0YgDKBg03l7K2hFgayBYvEpKnuZG2c/pub'"></div>-->
    <iframe class="webPage" src="https://docs.google.com/document/d/1Esy5__QWI6ZxM0YgDKBg03l7K2hFgayBYvEpKnuZG2c/pub">

    </iframe>
  </ion-content>
</ion-view>
