<ion-view view-title="Schedule-Day 3 - Abhivyakti 2k17" style="font-family: 'ComicSansMS',cursive;">
  <ion-content>

    <div class="bar-header">Internet Connection Required. If Internet Available wait for sometime to load. </div>
    <iframe class="webPage" src="https://docs.google.com/document/d/1duB9wFlShWVsDOqlScsV69ZMaQHpkHFl0islXb8CCGo/pub">

    </iframe>
  <!--  <div class="card" ng-include="'https://docs.google.com/document/d/1duB9wFlShWVsDOqlScsV69ZMaQHpkHFl0islXb8CCGo/pub'"></div>-->

  </ion-content>
</ion-view>
