<ion-view view-title="Developer Abhivyakti 2k17"  class="mybody" style="font-family: 'ComicSansMS',cursive;">
  <ion-content>
<div class="card item">

  <ion-list>
    <h1></h1>
    <ion-item  class="card   item-text-wrap  "
              >
      <img ng-src="img/developer.jpg" alt="img is loading" class="full-image">
      <h2>
        Mohit Gupta
      </h2>
      <p>
        Hey! This is Mohit from B.tech CSE 3rd Year. Feel free to walkthrough my works on github account (user profile :- mohitgupta07).
  This app is made using ionic Cordova with lots of AngularJs. So if you find any issues just create an issue in the repository section.
      Please note that min. android version for app is Lollipop although it will work on Kitkat(but not smooth).
        <a class="item" href="#" onclick="window.open('https://github.com/mohitgupta07/Abhivyakti-2k17', '_system', 'location=yes'); return false;">
          Fork this Project.


        </a>
  P.S. :- A special thanks to Amir Rizvi for helping me in systematically setting up data in excel format, to my friend Harsh Mittal for giving me ideas and helping me out in Frontend of this app
        and everyone else who did help me in making this app by giving their valuable reviews.
      </p>
    </ion-item>
  </ion-list>

</div>
  </ion-content>
</ion-view>
