

<ion-view view-title="Disclaimer" class="">
  <ion-content>
    <h1>Disclaimer</h1>
    <p>Last updated: February 01, 2017</p>
    <p>The information contained on http://abhivyakti.srmcem.ac.in website and  mobile app (the &quot;Service&quot;) is for general information purposes only.</p>
    <p>Abhivyakti 2k17 assumes no responsibility for errors or omissions in the contents on the Service.</p>
    <p>In no event shall Abhivyakti 2k17 be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Abhivyakti 2k17 reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.</p>
    <p>Abhivyakti 2k17 does not warrant that the website is free of viruses or other harmful components.</p>
    <p>This disclaimer was created with (<a href="https://termsfeed.com/disclaimer/generator/">TermsFeed</a>).</p>
    <p><strong>External links disclaimer</strong></p>
    <p>http://abhivyakti.srmcem.ac.in website and  mobile app may contain links to external websites that are not provided or maintained by or in any way affiliated with Abhivyakti 2k17</p>
    <p>Please note that the Abhivyakti 2k17 does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>


  </ion-content>
</ion-view>
