<ion-view view-title="Abhivyakti-2k17"  class="mybody" style="font-family: 'ComicSansMS', cursive;">

  <ion-content>

    <!--
    <ion-spinner icon="lines"></ion-spinner>-->
   <div class="card" style="background: lightgoldenrodyellow; font-size: 20px; color:#123456 ">

 <h1 class="list-header" style="font-family: 'ComicSansMS',cursive;color: navy;font-style: italic;"><b>ABHIVYAKTI 2K17</b></h1>

    <p style="font-family: 'ComicSansMS',cursive;padding-left: 5%;padding-right: 5%;font-size: 20px; color:#123456 ">Abhivyakti is  one of the most sought after college Extravaganzas ¡n U.P. The relative isolation of Lucknow from other cities is one aspect that makes Abhivyakti so special to every one who attends the fiesta. It is this very distance that guards us from the mediocrity of the out side world and helps us in spawning a cultural calibration unlike any other.
  The 10000+ students’ community from across the region that swarms.Abhivyakti represents the most productive consumers’ age group of 18-25 years. This coupled with the fact that Abhivyakti runs for 3 days, gives the sponsors an effective undiluted publicity unlike other college festivals.   Moreover, your brand becomes     synonymous with the memories that participating teams carry back to home from the Abhivyakti experience.
  The crux of Abhivyakti is that every thing is managed by students, right from sponsorship proposals to event management.
</p>

</div>
    <!--<div class="card">
      <i> <span style="font-family: Algerian;font-size: large">Star <strong> Night</strong></span> </i>
      </h1>
      <p style="font-family: 'ComicSansMS',cursive; font-size: 20px;background: lightgoldenrodyellow;color:#123456" class="">15,000 heads banging, 60,000 watts of sound, a reverberating stage, one night and your chance to be in the midst of it all. With people from Bollywood coming to our college for star nights, this fest surely rocks. The list includes - Vinod Rathore, Euphoria, Shibani Kashyap, Tantriks’ Band, Mika, dance group Zeal, Amit Kumar & Sumit Kumar, Jassi, Suraj Jagan, Remo Fernandes, Mahalakshmi Iyer, Usha uthup, Kunal Ganjawala and to top them all this years attraction is <b>Abhijeet Bhattacharya</b>.</p>


    </div>-->
<!--<div class="item list" style="position: a;bottom: 0px">
  sda
</div>-->
  </ion-content>
</ion-view>
