
<ion-view view-title="Reach Us " style="font-family: 'ComicSansMS',cursive;">
  <ion-content>
<!--
    <div class="bar-header">Internet Connection Required. If Internet Available wait for sometime to load. </div>
-->
<!--
    <iframe class="webPage" style="height:50%" src="http://maps.google.com/maps?saddr=20.344,34.34&daddr=20.5666,45.345">

    </iframe>
-->
    <!--<div style="background-image: url(img/icon.png);width: 100%;height: 100%;background-repeat: no-repeat" >
-->
    <div style="position: relative">

      <a  href="#" style="padding:5%;font-size: 20px" onclick="window.open('https://goo.gl/maps/oibCAH48Rbx', '_system', 'location=yes'); return false;">

        Get Direction&nbsp&nbsp<i class="fa fa-map-marker fa-3x" style="color: red" aria-hidden="true"></i>


      </a>
    <!--<a href="https://goo.gl/maps/oibCAH48Rbx" style="padding:5%;font-size: 20px">Get Direction&nbsp&nbsp<i class="fa fa-map-marker fa-3x" style="color: red" aria-hidden="true"></i></a>-->
    <p style="padding: 5%;font-size: 20px;font-weight: bolder"><b>Shri Ramswaroop Memorial Group Of Professional Colleges
      Main Road Tiwariganj (NH-28), Faizabad Rd, Lucknow, Uttar Pradesh 227105, India</b></p>
      <img src="img/icon.png" style="top: 10%;position: absolute;z-index: -1;opacity: .45" class="full-image">
      </div>
      <!-- <div class="card" ng-include="'https://docs.google.com/document/d/1nVdkFXNkmW6kBZHWyDgqL1Yydb9VbPMo77cPK56z4qw/pub'"></div>-->
  </ion-content>
</ion-view>
