<ion-view view-title="Star Night 2k17" class="mybody">
  <ion-content>
    <div class="card">

      <img class="full-image " ng-src="{{'img/starNight.jpg'}}" alt="img is loading">
      </h1>
      <p style="font-family: 'ComicSansMS',cursive;font-size: 20px; background: lightgoldenrodyellow; padding-left: 5%;padding-right: 5%;color:#123456" class="">15,000 heads banging, 60,000 watts of sound, a reverberating stage, one night and your chance to be in the midst of it all. With people from Bollywood coming to our college for star nights, this fest surely rocks. The list includes - Vinod Rathore, Euphoria, Shibani Kashyap, Tantriks’ Band, Mika, dance group Zeal, Amit Kumar & Sumit Kumar, Jassi, Suraj Jagan, Remo Fernandes, Mahalakshmi Iyer, Usha uthup, Kunal Ganjawala and to top them all this years attraction is <b>Abhijeet Bhattacharya</b>.</p>


    </div>



  </ion-content>
</ion-view>
